# Ignore Python environment files
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
backend/.env

# Node.js (frontend)
node_modules/
.env.local
.env.development
.env.production

# macOS
.DS_Store

# VSCode settings
.vscode/

# Logs
*.log

# OS-generated
Thumbs.db
